body {
    background-color:rgb(128, 190, 177);
    align-items: center;
}
@media screen and (orientation: portrait) {
    body {
        width: 100%;
    }
    .players {
        margin-top: 5%;
        width: 100%;
        height: 50%;
        margin-left: 0;
        padding-top: 5%;
        padding-bottom: 5%;
    }
    .markings {
        margin-top: 0%;
        width: 100%;
        height: 100%;
        margin-left: 0;
        padding-top: 10%;
        padding-bottom: 10%;
    }
    .input {
        margin-left: 18%;
        padding: 40px 70px;
        font-size: 250%;
    }
    .btnStop {
        /* padding: 10px; */
        font-size: 250%;
    }
    .LETSPLAY {
        font-size: 200%;
        margin-left: 33%;
    }
    .PLAYMORE {
        margin-left: 38%;
        font-size: 250%;
    }
    .PLAY {
        margin-left: 38%;
        padding: 20px 35px;
        font-size: 250%;
    }
    .PLAYonStopped {
        margin-left: 34%;
        padding: 20px 35px;
        font-size: 250%;
    }
    .newPLAYonStopped {
        margin-left: 30%;
        padding: 20px 35px;
        font-size: 250%;
    }
    td {
        height: 200px;
        width: 200px;
    }
    table {
        margin-left: 18%;
    }
    .playerss {
        width: 100%;
        margin-left: 0;
    }
    .player {
        padding: 20px, 20px;
        font-size: 15px;
    }
    p {
        font-size: 250%;
    } 
    h1 {
        font-size: 500%;
    }
    h2 {
        font-size: 250%;
    }
}
@media screen and (orientation: landscape) {
    body {
        width: 80%;
        margin-left: 10%;
    }
    .players {
        margin-top: 3%;
        width: 50%;
        height: 50%;
        margin-left: 25%;
        padding-top: 3%;
        padding-bottom: 3%;
        font-size: 85%;
    }
    .markings {
        margin-top: 0%;
        width: 50%;
        height: 50%;
        margin-left: 25%;
        padding-top: 3%;
        padding-bottom: 3%;
        font-size: 85%;
    }
    .input {
        font-size: 150%;
        width: 50%;
        padding: 20px 20px;
        margin: 22%;
        margin-top: 0;
        margin-bottom: 0;
    }
    .LETSPLAY {
        font-size: 150%;
        padding:20px 35px;
        margin: 36%;
        margin-top: 0;
        margin-bottom: 0;
    }
    .PLAYMORE {
        margin-left: 40%;
    }
    .PLAY {
        margin-left: 44%;
        padding: 20px 35px;
    }
    .PLAYonStopped {
        margin-left: 44%;
        padding: 20px 35px;
    }
    .newPLAYonStopped {
        margin-left: 40%;
        padding: 20px 35px;
    }
    td {
        height: 100px;
        width: 100px;
    }
    table {
        margin-left: 10%;
    }
    .players {
        width: 50%;
        margin-left: 25%;
    }
    .player {
        padding: 5px;
        font-size: 100%;
    }
    p {
        font-size: 150%;
    }
    h1 {
        font-size: 290%;
    }
    h2 {
        font-size: 160%;
    }
}
img {
    margin-top: 0;
    margin-left: 30%;
}
.input {
    align-self: center;
    text-align: center;
    border: 2px outset rgb(0, 116, 92);
    background-color: rgb(159, 223, 210);
    border-radius: 20px;
}
.btnStop {
    border: 2px outset rgb(0, 116, 92);
    background-color: rgb(84, 168, 151);
}
.LETSPLAY {
    align-self: center;
    text-align: center;
    padding: 20px 35px;
    border: 2px outset rgb(0, 116, 92);
    background-color: rgb(84, 168, 151);
    border-radius: 20px;
}
.PLAY {
    align-self: center;
    text-align: center;
    border: 2px outset rgb(0, 116, 92);
    background-color: rgb(84, 168, 151);
    border-radius: 20px;
}
.PLAYonStopped {
    align-self: center;
    text-align: center;
    border: 2px outset rgb(0, 116, 92);
    background-color: rgb(84, 168, 151);
    border-radius: 20px;
}
.newPLAYonStopped {
    align-self: center;
    text-align: center;
    border: 2px outset rgb(0, 116, 92);
    background-color: rgb(84, 168, 151);
    border-radius: 20px;
}
.PLAYMORE {
    align-self: center;
    text-align: center;
    padding: 20px 35px;
    border: 2px outset rgb(0, 116, 92);
    background-color: rgb(84, 168, 151);
    border-radius: 20px;
}
.reg {
    align-content: center;
}
.players {
    text-align: center;
    border: 2px outset rgb(0, 116, 92);
    background-color: rgb(84, 168, 151);
}
.markings {
    text-align: center;
    border: 2px outset rgb(0, 116, 92);
    background-color: rgb(84, 168, 151);
}
.player {
    padding: 20px 35px;
    border: 2px outset rgb(0, 116, 92);
    background-color: rgb(115, 172, 160);
    border-radius: 20px;
}
.left {
    float: left;
    margin-left: 5%;
}
.right {
    float: right;
    margin-right: 5%;
}
.player1 {
    float: left;
    margin-left: 5%;
}
.player2 {
    float: right;
    margin-right: 5%;
}
td {
    border: 2px solid rgb(0, 116, 92);
}
.game1 {
    border-left: none;
    border-bottom: none;
}
.game2 {
    border-bottom: none;
}
.game3 {
    border-right: none;
    border-bottom: none;
}
.game4 {
    border-left: none;
}
.game6 {
    border-right: none;
}
.game7 {
    border-left: none;
    border-top: none;
}
.game8 {
    border-top: none;
}
.game9 {
    border-right: none;
    border-top: none;
}
p {
    color: rgb(0, 0, 0);
    text-align: center;
}
h2 {
    color: rgb(0, 0, 0);
    text-align: center;
}
h1 {
    color: rgb(0, 0, 0);
    text-align: center;
}
